.client-review {
    width: 60%;
    background-color: $color-white-transp;
    margin-bottom: 5rem;
    transform: skewX(-25deg);
    box-shadow: $default-shadow-box;

    display: flex;
    align-items: center;

    & > * {
        transform: skewX(25deg);
    }

    &__logo-box {
        padding: 2rem 4rem;
    }
    &__text-box {
        font-size: 2rem;
        padding: 2rem 0;
        padding-right: 4rem;
        color: $color-primary-darker;
        position: relative;

        &::before {
            content: "\201C";
            position: absolute;
            top: -2.3rem;
            left: -3.3rem;
            font-size: 15rem;
            line-height: 1;
            color: $color-grey-light-1-transp;
            z-index: 2;
        }

        &::after {
            content: "\201D";
            position: absolute;
            bottom: -9.3rem;
            right: 2.3rem;
            font-size: 15rem;
            line-height: 1;
            color: $color-grey-light-1-transp;
            z-index: 2;
        }
    }
}

//MEDIA

//1033px
@media only screen and (max-width: 64.5625em) {
    .client-review {
        transform: skewX(0);

        & > * {
            transform: skewX(0);
        }
    }
}
